<mat-toolbar [color]="toolBarClass()">
  <button
    mat-icon-button
    aria-label="Navigation menu button"
    (click)="navBarClick()"
  >
    <mat-icon title="Navigation menu">menu</mat-icon>
  </button>
  <span><a routerLink="">BIQ-Cat</a></span>
  <span class="space"></span>
  <button mat-icon-button aria-label="Dashboard icon">
    <mat-icon title="Dashboard">account_circle</mat-icon>
  </button>
</mat-toolbar>
<app-side-menu></app-side-menu>
<router-outlet></router-outlet>
<img [src]="linesPath()" alt="Lines" id="lines" />
<footer *ngIf="isGoodNav()">
  <span>GPL v.3.1 &copy;2022. BIQ-Cat</span>
</footer>
