$menuWidth: 100vw / 3;

.nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  width: $menuWidth;
  background-color: #dadada;
  height: 100vh;
  overflow: scroll;
  z-index: 1000;
  mat-tree,
  mat-tree * {
    background-color: inherit;
  }
}

.nav-menu a {
  text-decoration: none;
  display: inline-block;
  color: blue;
  line-height: 1;
}
.nav-menu a:after {
  display: block;
  content: "";
  height: 3px; 
  width: 0%;
  background-color: #225384;
  transition: width .4s ease-in-out;
}

.nav-menu a:hover:after,
.nav-menu a:focus:after {
    width: 100%;
}

.nav-menu a:hover {
  color: #00aeffc9;
  text-decoration: underline;
}

.nav-menu.hide {
  transform: translate3d($menuWidth * -1, 0, 0);
}

.nav-menu.show {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  border-right: 5px double blue;
}
