<h1>BIQ Cat Official website</h1>
<h2>With us, you may do many interesting things:</h2>
<div class="flex-container">
  <div>
    <h1>Create</h1>
    <p>
      Create your apps and create IRA Package with it. We will help you to adapt
      your applications to many platforms. Also, you may try CatID DevTools to
      produce our ecosystem inside your app
    </p>
    <button>Start working!</button>
  </div>
  <div>
    <h1>Enjoy</h1>
    <p>Use our BIQ ecosystem to use your favorite apps. Our cloud, BIQ ID, CatStore may be synced with any
      devices
    </p>
    <button>Try it!</button>
  </div>
  <div>
    <h1>Grow</h1>
    <p>
      BIQ-Cat is a young company, we need some developers, designers, engineers, etc. If you want to get
      your first job, here you are!
    </p>
    <button>Get involved!</button>
  </div>
</div>
